<!-- <meta name="description" content="{{ $data->description }}"> -->

  <!-- Facebook Meta Tags -->
  <!-- <meta property="fb:app_id" content="xxxxxxxxxxxxx">
  <meta property="og:url" content="https://xxxxxxx/post/{{ $data->id }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ $data->title}}">
  <meta property="og:description" content="{{ $data->description}}">
  <meta property="og:image" content="{{ $data->image }}">
  <meta property="og:site_name" content="freeC" /> -->

  <!-- Twitter Meta Tags -->
  <!-- <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ $data->title }}">
  <meta name="twitter:description" content="{{ $data->description }}">
  <meta name="twitter:image" content="{{ $data->image }}"> -->

  <!-- <title>{{ $data->title }}</title> -->